{% extends 'base.html.twig' %}

{% block title 'Agency lorem ipsum' %}

{% block body %}
  <div class="jumbotron text-center">
      <h1>Agence lorem ipsum dude</h1>
      <p>jdksjdklsjdkl sqjdkjsqlkjdlkj kljdlkqsjdkljsqlkjdk kkdqsjkldjqskldjqskdl kdsqjdklqsjdklqsj</p>
  </div>

  <div class="container">
    <h2>The lastest goods</h2>
    <div class="row flex">
        {% for property in properties %}
          <div class="col-md-3">
            {% include 'property/_property.html.twig' %}
          </div>
        {% endfor %}
    </div>
  </div>
{% endblock %}
