{% extends 'base.html.twig' %}

{% block title 'Create flat' %}

{% block body %}
  <div class="container mt-4">
    <h2>New flat</h2>
    {{ include('admin/property/_form.html.twig', {form: form}) }}
  </div>
{% endblock %}
